<div class="background-design">
  <div class="navbar-offset"></div>
  <div class="text-center">
    <h2>Featured</h2>
    <br>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="card">
            <%= link_to business_path(@featured) do %>
              <div class="featured-card-alert">
                <p> Featured! </p>
              </div>
              <br>
              <br>
              <%= cl_image_tag @featured.photo, height: 175, width: 300, crop: :fit %>
              <div class="card-content">
                <h3><%= @businesses.last.name.upcase %> </h3>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-xs-6 col-sm-4">
          <div class="card">
            <div class="card-content">
              <h3>Business Ethos: </h3>
              <br>
              <p><%= @businesses.last.description %></p>
              <br>
              <br>
              <br>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-4">
          <div class="card">
            <br>
            <h3>Offering:</h3>
            <%= cl_image_tag @featured.tokens.first.photo, height: 150, width: 200, crop: :fit %>
            <div class="card-content">
              <h3><%= @featured.tokens.first.name.upcase %> </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="front-nav-button-location">
  <div class="front-nav-button">
      <%= link_to "+", new_business_path, class: "btn btn-primary btn-circle" %>
  </div>
</div>

<div class="transparent-wrapper-section">
  <div class="text-center">
    <h2>All Businesses</h2>
    <br>
    <br>
  </div>
  <div class="container">
    <div class="row">
      <% @businesses.each do |business| %>
      <%= link_to business_path(business) do %>
        <div class="col-xs-12 col-sm-3">
          <div class="card shorter">
            <br>
            <%= cl_image_tag business.photo, height: 150, width: 200, crop: :fill %>
            <div class="card-content">
              <h3><%= business.name.upcase %> </h3>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


