
<div class="background-design">
  <div class="navbar-offset"></div>
  <div class="show_container">
    <div class="show_sub_container">
      <a href="<%= @business.url %> "><h1 class="shadow-hover"><%= @business.name.capitalize %></h1></a>
      <h3 class="white"><%= @business.email %></h3>
    </div>
    <% url = @business.photo? ? @business.photo : "sample" %>
    <%= cl_image_tag url, height: 200, width: 230, crop: :fit%>
  </div>
  <hr class="line">
</div>
<div class="row pad">
  <div class="col-xs-12 col-sm-6">
    <div class="about-card">
      <h4 class="offerings">Founder:</h4><p><%= @business.user.first_name %> <%= @business.user.last_name %></p>
      <h4 class="offerings">Company Ethos:</h4>
      <p><%= @business.description %></p>
    </div>
    <div class="map-cont">
      <div id="map" style="width: 100%; height: 500px; border-radius: 10px;"></div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <div class="about-card">
      <h4 class="offerings">Tokens:</h4>
      <div class="container">
        <div class="row">
          <% @business.tokens.each do |token| %>
            <%= link_to token_path(token) do %>
              <div class="col-xs-12 col-sm-4">
                <div class="business-token-card widen-darken">
                  <div class="business-token-card-img">
                    <%= cl_image_tag token.photo, height: 100, crop: :fill %>
                  </div>
                  <div class="business-token-card-stacked">
                    <div class="business-token-card-content">
                      <h3><%= token.name.upcase %> - £ <%= token.prices.last.value_gbp.round(0) %></h3>
                      <p>Offered By: <%= token.business.name %> </p>
                      <% if (token.percentage_change_24h <= 0) %>
                        <p class="red">Last 24hr: <%= token.percentage_change_24h %>%</p>
                      <% else %>
                        <p class="green">Last 24hr: +<%= token.percentage_change_24h %>%</p>
                      <% end %>
                    </div>
                    <div class="business-token-card-action" id="btn-id-<%= token.id %>">
                      <%= render "shared/followbtn", token: token %>
                    </div>
                  </div>
                </div>
              </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
      var handler = Gmaps.build('Google', { markers: { clusterer: undefined } });
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(
          [
            {
              "lat": <%= raw @business.latitude %>,
              "lng": <%= raw @business.longitude %>,
              <!-- "infowindow": "<h1>Aix - Marseille</h1><p><img src='https://res.cloudinary.com/wagon/image/upload/c_fill,h_200/v1500988849/nqoqw5sinlj1hqvxrfyi.jpg' height='200'></p>" -->
            },
          ]
        );
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(16);
      });
  <% end %>
<% end %>
<div class="front-nav-button-location">
  <div class="front-nav-button">
    <% if @business.user == current_user %>
      <%= link_to "+", new_business_token_path(@business), class: "btn btn-primary btn-circle" %>
    <% end %>
  </div>
</div>

<% if @business.user == current_user %>
  <div class="front-nav-button-location-3">
    <div class="front-nav-button">
      <%= link_to business_path(@business), method: :delete, class: "btn btn-danger btn-circle" do %>
        <i class="fa fa-trash" aria-hidden="true"></i>
      <% end %>
    </div>
  </div>
  <div class="front-nav-button-location-2">
    <div class="front-nav-button">
      <%= link_to edit_business_path(@business), class: "btn btn-info btn-circle" do %>
        <i class="fa fa-pencil" aria-hidden="true"></i>
      <% end %>
    </div>
  </div>
<% end %>

