<div class="background-design">
  <div class="navbar-offset"></div>
  <div class="show_container">
    <div class="show_sub_container">
      <h1 class="white"><%= @user.first_name %><%= @user.last_name %></h1>
      <h3 class="shadow-hover"><%= @user.email %></h3>
    </div>
    <%= cl_image_tag @user.photo, height: 200, width: 230, crop: :fill, id: "user-img"%>
  </div>
  <hr class="line">
</div>
<div class="container">
  <div class="col-xs-12 col-sm-6">
    <h4 class="offerings">Businesses:</h4>
    <% @user.businesses.each do |business| %>
      <%= link_to business_path(business) do %>
        <div class="token-card">
          <div class="token-card-img">
            <%= cl_image_tag business.photo, height: 100, crop: :fill %>
          </div>
          <div class="token-card-stacked">
            <div class="token-card-content">
              <h4 class="gray"><%= business.name.upcase %> </h4>
              <p><%= business.email.capitalize %></p>
              <% if !business.tokens.last.nil? %>
                <p>Offering: <%= business.tokens.last.name %></p>
              <% end %>
              <div class="token-card-action no-pad-left">
                <%= link_to "Visit Website", "business.url", class:"tokinfo-btn no-pad white" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <% @user.tokens.each_with_index do |token, i| %>
        <% if i == 0 %>
          <h4 class="offerings">Following:</h4>
        <% end %>
        <%= link_to token_path(token) do %>
          <div class="token-card">
            <div class="token-card-img">
              <%= cl_image_tag token.photo, height: 100, crop: :fill %>
            </div>
            <div class="token-card-stacked">
              <div class="token-card-content">
                <h4><%= token.name.upcase %> </h4>
                <p>Price: £<%= token.prices.last.value_gbp.round %> </p>
                <p>Offered By: <%= token.business.name %> </p>
              </div>
              <div class="token-card-action">
                <%= render "shared/followbtn", token: token %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
