<div class="background-design">
  <div class="navbar-offset"></div>
  <div class="show_container">
    <div class="show_sub_container">
      <h1 class="white"><%= @user.first_name %><%= @user.last_name %></h1>
      <h3 class="shadow-hover"><%= @user.email %></h3>
    </div>
    <%= cl_image_tag @user.photo, height: 200, width: 230, crop: :fill, id: "user-img"%>
  </div>
  <hr class="line">
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <h4 class="offerings">Businesses:</h4>
      <% @user.businesses.each do |business| %>
        <%= link_to business_path(business) do %>
          <div class="card">
            <br>
            <%= cl_image_tag business.photo, height: 150, width: 200, crop: :fill %>
            <h3><%= business.name %></h3>
            <p><%= business.email %></p>
          </div>
        <% end %>
      <% end %>
    </div>

      <% @user.tokens.each_with_index do |token, i| %>
        <div class="col-xs-12 col-sm-3">
          <% if i == 0 %>
            <h4 class="offerings">Following:</h4>
          <% elsif i == 1 || i == 2 %>
            <h4 class="offerings" style="opacity: 0">Placeholder</h4>
          <% end %>
          <%= link_to token_path(token) do %>
          <div class="card">
            <br>
            <%= cl_image_tag token.photo, height: 150, width: 200, crop: :fill %>
            <%= render "shared/followbtn", token: token %>
            <h3><%= token.name %></h3>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
