<% if current_user && Following.where(user_id: current_user.id, token_id: token.id).empty? %>
  <div class="follow-btn" data-toggle="popover" data-content="Follow" data-placement="top">
    <%= link_to token_followings_path(token), method: :post, class: "btn btn-default" do %>
        <i class="fa fa-star", aria-hidden="true"></i>
    <% end %>
  </div>
<% elsif !current_user %>
<div class="follow-btn" data-toggle="popover" data-content="Follow" data-placement="top">
    <%= link_to token_followings_path(token), method: :post, class: "btn btn-default" do %>
        <i class="fa fa-star",  aria-hidden="true"></i>
    <% end %>
  </div>
<% else %>
  <div class="follow-btn" data-toggle="popover" data-content="Follow" data-placement="top">
    <%= link_to token_followings_path(token), method: :post, class: "btn btn-default" do %>
        <i class="fa fa-star", style="color:#6F95F8",  aria-hidden="true"></i>
    <% end %>
  </div>
<% end %>



<% if false %>
<div class="follow-btn" id="insert" data-toggle="popover" data-content="Follow" data-placement="top">
  <%= link_to token_followings_path(token), method: :post, class: "btn btn-default" do %>
    <!-- Here goes the logic for the star -->
    <% if !current_user.nil?  %>
      <% if Following.where(user_id: current_user.id, token_id: token.id).empty?%>
        <i class="fa fa-star-o" aria-hidden="true"></i>
      <% elsif %>
        <i class="fa fa-star" style="color:#6F95F8" aria-hidden="true"></i>
      <% end %>
      <%# binding.pry %>
    <% elsif %>
      <i class="fa fa-star-o" aria-hidden="true"></i>
    <% end %>
  <% end %>
</div>

<div class="follow-btn" id="insert" data-toggle="popover" data-content="<% if current_user && Following.where(user_id: current_user.id, token_id: token.id).empty?%>Follow <% else %> Unfollow <% end %>", data-placement="top">
  <%= link_to token_followings_path(token), method: :post, class: "btn btn-default" do %>
    <!-- Here goes the logic for the star -->
    <% if current_user %>
      <% if Following.where(user_id: current_user.id, token_id: token.id).empty?%>
        <i class="fa fa-star-o" aria-hidden="true"></i>
      <% elsif %>
        <i class="fa fa-star" style="color:#6F95F8" aria-hidden="true"></i>
      <% end %>
    <% else %>
      <i class="fa fa-star-o" aria-hidden="true"></i>
    <% end %>
  <% end %>
</div>
<% end %>
