<div class="main">
    <div class="container">
      <div class="text-center">
        <h2>Edit <%= resource_name.to_s.humanize %></h2>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
          <div class="contact-form">
            <%= simple_form_for(@token), html: { method: :put }) do |f| %>
            <%= f.error_notification %>
            <div class="form-inputs">
              <%= f.input :email, required: true, autofocus: true %>
              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
              <% end %>
              <%= f.input :password, autocomplete: "off", hint: "Leave this blank if you don't want to change it", required: false %>
              <%= f.input :password_confirmation, required: false %>
              <%= f.input :current_password, hint: "We need your current password to confirm your changes", required: true %>
              <!-- added for photos -->
              <% if current_user.photo.url.present? %>
                <%= cl_image_tag current_user.photo, height: 50, width: 50, crop: :fill, radius: :max%>
                <%= f.input :photo, hint:"Would you like to change your photo?", required:false, class: "btn btn-default btn-primary", label: false%>
              <% else %>
                <%= f.input :photo, hint:"Please enter a url of your photo", required:false %>
              <% end %>
              </div>
                  <!-- Otherwise the image hits the button -->
              <div class="space" style="padding-top:10px"></div>
              <div class="form-actions">
                <%= f.button :submit, "Update", class: "btn btn-default btn-primary btn-group align" %>
                <%= link_to "Back", :back, class: "btn btn-default btn-primary btn-group align"%>
              </div>
            <% end %>
          </div>
        </div>
      </div>
  </div>
</div>
