<div class="background-design">
  <div class="navbar-offset"></div>





<div class="search__container">
  <ul class="card2">
    <% @results.each do |result| %>
      <% if (result.searchable_type == "Token") %>
        <li class="search-item">
          <div class="search-item__image" style="background-image: url(<%= result.searchable.photo %>); background-size: cover;"></div>
          <div class="search-item__content">
            <%= link_to token_path(result.searchable) do %>
              <p class="text--medium black">
                <%= result.searchable.name %>
              </p>
            <% end %>
            <p class="text--small text--muted"><%= result.searchable.description %></p>
            <p class="text--small text--muted">First offered: <%= result.searchable.created_at %></p>
          </div>
          <div class="search-item__options">
            <p class="text--medium">Current Price: <%= result.searchable.name %></p>
            <div class="follow-btn">
              <%= link_to token_followings_path(token), method: :post, class: "btn btn-default" do %>
              <i class="fa fa-money" aria-hidden="true"></i>
              <% end %>
            </div>
          </div>
        </li>
      <% elsif (result.searchable_type == "Business") %>
        <li class="search-item">
          <div class="search-item__image" style="background-image: url(<%= result.searchable.photo %>); background-size: cover;"></div>
          <div class="search-item__content">
            <%= link_to token_path(result.searchable) do %>
              <p class="text--medium">
                <%= result.searchable.name %>
              </p>
            <% end %>
            <p class="text--small text--muted"><%= result.searchable.email %></p>
            <p class="text--small text--muted">Address: <%= result.searchable.address %></p>
          </div>
          <div class="search-item__options">
            <button class="button button--outline button--small">View Tokens</>
          </div>
        </li>
      <% elsif (result.searchable_type == "User") %>
        <li class="search-item">
          <div class="search-item__image" style="background-image: url(<%= result.searchable.photo %>); background-size: cover;"></div>
          <div class="search-item__content">
            <%= link_to token_path(result.searchable) do %>
              <p class="text--medium">
                <%= result.searchable.first_name %> <%= result.searchable.last_name %>
              </p>
            <% end %>
            <p class="text--small text--muted"><%= result.searchable.email %></p>
            <p class="text--small text--muted">First offered: <%= result.searchable.created_at %></p>
          </div>
          <div class="search-item__options">
            <button class="button2 button--outline button--small">View</>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>









  <div class="text-center">
    <h2>Featured</h2>
    <br>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="card">
            <%= link_to token_path(@tokens.last) do %>
              <div class="featured-card-alert">
                <p> Featured! </p>
              </div>
              <br>
              <br>
              <%= cl_image_tag @tokens.last.photo, height: 150, width: 200, crop: :fill %>
              <div class="card-content">
                <h3><%= @tokens.last.name.upcase %></h3>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-8">
          <div class="card">
            <div class="card-content">
              <!--Div that will hold the pie chart-->
              <div id="chart_div"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="transparent-wrapper-section">
  <div class="text-center">
    <h2>All Tokens</h2>
    <br>
    <br>
  </div>
  <div class="container">
    <div class="row">
      <% @tokens.each do |token| %>
      <%= link_to token_path(token) do %>
        <div class="col-xs-12 col-sm-3">
          <div class="card">
            <br>
            <%= cl_image_tag token.photo, height: 150, width: 200, crop: :fill %>
            <div class="card-content">
              <h3><%= token.name.upcase %> </h3>
              <p>Offered By: <%= token.business.name %> </p>
            </div>
            <%= render "shared/followbtn", token: token %>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<% content_for(:in_head_js) do %>
<!--Load the AJAX API-->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">

    google.charts.load('current', {packages: ['corechart', 'line']});
google.charts.setOnLoadCallback(drawBasic);

function drawBasic() {

      var data = new google.visualization.DataTable();
      data.addColumn('number', 'Date');
      data.addColumn('number', 'Price');

      data.addRows([
        [0, 0],   [1, 10],  [2, 23],  [3, 17],  [4, 18],  [5, 9],
        [6, 11],  [7, 27],  [8, 33],  [9, 40],  [10, 32], [11, 35],
        [12, 30], [13, 40], [14, 42], [15, 47], [16, 44], [17, 48],
        [18, 52], [19, 54], [20, 42], [21, 55], [22, 56], [23, 57],
        [24, 60], [25, 50], [26, 52], [27, 51], [28, 49], [29, 53],
        [30, 55], [31, 60], [32, 61], [33, 59], [34, 62], [35, 65],
        [36, 62], [37, 58], [38, 55], [39, 61], [40, 64], [41, 65],
        [42, 63], [43, 66], [44, 67], [45, 69], [46, 69], [47, 70],
        [48, 72], [49, 68], [50, 66], [51, 65], [52, 67], [53, 70],
        [54, 71], [55, 72], [56, 73], [57, 75], [58, 70], [59, 68],
        [60, 64], [61, 60], [62, 65], [63, 67], [64, 68], [65, 69],
        [66, 70], [67, 72], [68, 75], [69, 80]
      ]);

      var options = {'title':'Price of <%= raw @tokens.last.name.capitalize %>',
                       'width':700,
                       'height':300,
                       hAxis: {
                          title: 'Date'
                        },
                        vAxis: {
                          title: 'Price'
                        }
                     };

      var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

      chart.draw(data, options);
    }
  </script>
<% end %>
