<div class="background-design">
  <div class="navbar-offset"></div>
  <% if !@results.empty? %>
    <div class="text-center">
      <h2>Search Results:</h2>
    </div>
    <div class="result-container">
      <ul >
        <% @results.each do |result| %>
          <% if (result.searchable_type == "Token") %>
            <li class="search-item">
              <div class="search-item__image" style="background-image: url(<%= result.searchable.photo %>); background-size: cover;"></div>
              <div class="search-item__content">
                <%= link_to token_path(result.searchable) do %>
                  <p class="text--medium black">
                    <strong>Token:</strong> <%= result.searchable.name %>
                  </p>
                <% end %>
                <h6 class="text--small text--muted">Offered by: <%= result.searchable.business.name %></h6>
                <p class="text--small text--muted">First offered: <%= result.searchable.created_at %></p>
              </div>
              <div class="search-item__options">
                <p class="text--medium">Current Price: £<%= result.searchable.prices.last.value_gbp.round(2) %></p>
                <% if (result.searchable.percentage_change_24h >= 0) %>
                  <p class="text--medium green">Last 24 hrs: +<%= result.searchable.percentage_change_24h.round(2) %>%</p>
                <% else %>
                  <p class="text--medium red">Last 24 hrs: <%= result.searchable.percentage_change_24h.round(2) %>%</p>
                <% end %>
                <%= link_to business_path(result.searchable) do %>
                  <button class="tokinfo-btn">Follow</>
                <% end %>
              </div>
            </li>
          <% elsif (result.searchable_type == "Business") %>
            <li class="search-item">
              <div class="search-item__image" style="background-image: url(<%= result.searchable.photo %>); background-size: cover;"></div>
              <div class="search-item__content">
                <%= link_to business_path(result.searchable) do %>
                  <p class="text--medium black">
                    <strong>Business:</strong> <%= result.searchable.name %>
                  </p>
                <% end %>
                <h6 class="text--small text--muted"><%= result.searchable.email %></h6>
                <p class="text--small text--muted">Address: <%= result.searchable.address %></p>
              </div>
              <div class="search-item__options">
                <br>
                <br>
                <%= link_to token_path(result.searchable) do %>
                  <button class="tokinfo-btn">View Tokens</>
                <% end %>
              </div>
            </li>
          <% elsif (result.searchable_type == "User") %>
            <li class="search-item">
              <div class="search-item__image_avatar" style="background-image: url(<%= result.searchable.photo %>); background-size: cover;"></div>
              <div class="search-item__content">
                <%= link_to user_path(result.searchable) do %>
                  <p class="text--medium black">
                    <strong>User:</strong> <%= result.searchable.first_name %> <%= result.searchable.last_name %>
                  </p>
                <% end %>
                <h6 class="text--small text--muted"><%= result.searchable.email %></h6>
                <p class="text--small text--muted">Joined: <%= result.searchable.created_at %></p>
              </div>
              <div class="search-item__options">
                <% unless result.searchable.followings.last.nil? %>
                  <h6 class="text--small text--muted">Recently followed: <%= result.searchable.followings.last.token.name %></h6 >
                <% end %>
                <br>
                <%= link_to user_path(result.searchable) do %>
                  <button class="tokinfo-btn">View</>
                <% end %>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="text-center">
    <h2>Featured</h2>
    <br>
    <br>
    <div class="container">
      <div class="row">
          <div class="col-xs-12 col-sm-4">
            <%= link_to token_path(@tokens[3]) do %>
              <div class="token-card-no-hover">
                <div class="token-card-img">
                  <%= cl_image_tag @tokens[3].photo, height: 100, crop: :fill %>
                </div>
                <div class="token-card-stacked">
                  <div class="token-card-content">
                    <h3><%= @tokens[3].name.upcase %> </h3>
                    <p>Price: £<%= @tokens[3].prices.last.value_gbp.round(2) %></p>
                    <% if @tokens[3].percentage_change_24h > 0 %>
                      <p class="green">1 Day Change: +<%= @tokens[3].percentage_change_24h %>%</p>
                    <% else %>
                    <p class="red">1 Day Change: <%= @tokens[3].percentage_change_24h %>%</p>
                    <% end %>
                    <p>Offered By: <br> <%= @tokens[3].business.name %> </p>
                  </div>
                  <div class="token-card-action">
                    <%= render "shared/followbtn", token: @tokens[3] %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <div class="col-xs-12 col-sm-8">
          <div class="token-card-no-hover">
              <!--Div that will hold the pie chart-->
              <div id="chart_div"></div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="transparent-wrapper-section">
  <div class="text-center">
    <h2>All Tokens</h2>
    <br>
    <br>
  </div>
  <div class="container">
    <div class="row">
      <% @tokens.each do |token| %>
        <%= link_to token_path(token) do %>
          <div class="col-xs-12 col-sm-4">
            <div class="token-card">
              <div class="token-card-img">
                <%= cl_image_tag token.photo, height: 100, crop: :fill %>
              </div>
              <div class="token-card-stacked">
                <div class="token-card-content">
                  <h4><%= token.name.upcase %> </h4>
                  <p>Price: £<%= token.prices.last.value_gbp.round %> </p>
                  <p>Offered By: <%= token.business.name %> </p>
                </div>
                <div class="token-card-action" id="btn-id-<%= token.id %>">
                  <%= render "shared/followbtn", token: token %>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        <% end %>
    </div>
  </div>
</div>

<% content_for(:in_head_js) do %>
<!--Load the AJAX API-->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<% end %>
