<div class="background-design">
  <div class="navbar-offset"></div>
  <div class="text-center">
    <h2>Featured</h2>
    <br>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="card">
            <div class="featured-card-alert">
              <p> Featured! </p>
            </div>
            <br>
            <br>
            <%= cl_image_tag @tokens.last.photo, height: 150, width: 200, crop: :fill %>
            <div class="card-content">
              <h3><%= @tokens.last.name.upcase %> Coin</h3>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-8">
          <div class="card">
            <div class="card-content">
              <h3>GRAPH OF LAST WEEK'S PERFORMANCE </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="transparent-wrapper-section">
  <div class="text-center">
    <h2>All Tokens</h2>
    <br>
    <br>
  </div>
  <div class="container">
    <div class="row">
      <% @tokens.each do |token| %>
      <%= link_to token_path(token) do %>
        <div class="col-xs-12 col-sm-3">
          <div class="card">
            <br>
            <%= cl_image_tag token.photo, height: 150, width: 200, crop: :fill %>
            <div class="card-content">
              <h3><%= token.name.upcase %> </h3>
              <p>Offered By: <%= token.business.name %> </p>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
