<div class="main">
  <h1><%= @token.name.capitalize %> </h1>
  <a href="<%= @token.business.url %> "><h4>Offered by: <%= @token.business.name %></h4></a>
  <h5>On: <%= @token.created_at %></h5>
  <hr class="line">

  <h1>Recenty viewed by:</h1>

    <div class="container">
    <div class="row">
      <% @users.each do |user| %>
        <% user.tokens.each do |token| %>
          <% if token.id == @token.id %>
            <div class="col-xs-6 col-xs-offset-3">
              <div class="token_card">
                <h3><%= user.first_name %><%= user.last_name %> </h3>
                <h5><%= user.email %></h5>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

</div>
