<div class="background-design">
  <div class="navbar-offset"></div>
  <div class="show_container">
    <div class="show_sub_container">
      <h1 class="white"><%= @token.name %></h1>
      <a href="<%= @token.business.url %> "><h3 class="shadow-hover"><%= @token.business.name.capitalize %></h3></a>
    </div>
    <%= cl_image_tag @token.photo, height: 200, width: 230, crop: :fill, id: "bus_img"%>
  </div>
  <hr class="line">
</div>
<div class="container col-sx-6">
  <h4 class="offerings">Followed by:</h4>
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <% @users.each do |user| %>
        <% user.tokens.each do |token| %>
          <% if token.id == @token.id %>
            <%= link_to user_path(user) do %>
              <div class="card">
                <br>
                <%= cl_image_tag user.photo, height: 150, width: 200, crop: :fill %>
                <h3><%= user.first_name %><%= user.last_name %> </h3>
                <p><%= user.email %></p>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

