<div class="container main">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="token_card">
        <h3><%= @token.name %></h3>
        <a href="<%= @token.business.url %> "><h4><%= @token.business.name %></h4></a>
        <h5>First offered: <%= @token.created_at %></h5>
        <h5 class="token_card_price">Current price:</h5>
        <div class="token_card_image"><%= cl_image_tag @token.photo, height: 130, width: 200, crop: :fill%></div>


      </div>
    </div>
  </div>
</div>
