<div class="container main">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="token_card">
        <h3><%= @token.name %></h3>
        <a href="<%= @token.business.url %> "><h4><%= @token.business.name %></h4></a>
        <h5>First offered: <%= @token.created_at %></h5>
        <h5 class="token_card_price">Current price:</h5>
        <div class="token_card_image"><%= cl_image_tag @token.photo, height: 130, width: 200, crop: :fill%></div>
      </div>
    </div>
  </div>
</div>

<% if @token.user == current_user %>
  <div class="front-nav-button-location">
    <div class="front-nav-button">
      <%= link_to token_path(@token), method: :delete, class: "btn btn-danger btn-circle" do %>
        <i class="fa fa-trash" aria-hidden="true"></i>
      <% end %>
    </div>
  </div>
  <div class="front-nav-button-location-2">
    <div class="front-nav-button">
      <%= link_to edit_token_path(@token), class: "btn btn-info btn-circle" do %>
        <i class="fa fa-pencil" aria-hidden="true"></i>
      <% end %>
    </div>
  </div>
<% end %>

<h2>Recently viewed by:</h2>

<div class="container">
  <div class="row">
    <% @users.each do |user| %>
      <% user.tokens.each do |token| %>
        <% if token.id == @token.id %>
          <div class="col-xs-6 col-xs-offset-3">
            <div class="token_card">
              <h3><%= user.first_name %><%= user.last_name %> </h3>
              <h5><%= user.email %></h5>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

