<div class="background-design">
  <div class="banner">
    <div class="banner-left1">
      <div class="banner-content">
        <h1>Welcome to Tokinfo</h1>
        <p>Find places to buy new and upcoming crypto tokens</p>
        <!-- <div class="form-border"> -->
          <%= form_tag(tokens_path, method: :get) do %>
            <%= text_field_tag :query,'', type: "text", class: 'search-form', placeholder: "Bitcoin? Ethereum?" %>
            <%= submit_tag 'Search', :class => "tokinfo-btn" %>
          <% end %>
        <!-- </div> -->
      </div>
    </div>
    <div class="banner-right1">
      <div class="banner-img">
        <%= image_tag "bitcoin-network.png", size: "280x280" %>
      </div>
    </div>
  </div>
  <div class="transparent-wrapper-section">
    <div class="container">
      <div class="text-center">
        <h2>Who Are We?</h2>
      </div>
      <div class="info">
        <div class="info-card text-center">
          <i class="fa fa-info-circle large-icon" aria-hidden="true"></i>
          <p>Stay informed about all crypto-company performance, new projects and the upcoming ICOs.</p>
        </div>
        <div class="info-card text-center">
          <i class="fa fa-money large-icon" aria-hidden="true"></i>
          <p>Purchase from ICOs and trade popular tokens with other members of the community.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="white-wrapper-section">
  <div class="container">
    <div class="text-center">
      <h2>Popular Right Now</h2>
      <br><br>
    </div>
    <div class="row">
      <% @featured_tokens.each do |token| %>
      <%= link_to token_path(token) do %>
        <div class="col-xs-12 col-sm-4">
          <div class="token-card">
            <div class="token-card-img">
              <%= cl_image_tag token.photo, height: 100, crop: :fill %>
            </div>
            <div class="token-card-stacked">
              <div class="token-card-content">
                <h3><%= token.name.upcase %> </h3>
                <p>Offered By: <%= token.business.name %> </p>
              </div>
              <div class="token-card-action">
                <p>Follow Here: </p>
                <%= render "shared/followbtn", token: token %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="white-wrapper-section form-container">
  <div class="container">
    <div class="text-center">
      <h2>Leave us a message!</h2>
    </div>
    <br><br>
    <div class="inner contact">
          <div class="contact-form">
              <form id="contact-us" method="post" action="#">
                  <div class="col-xs-6 wow animated slideInLeft" data-wow-delay=".5s">
                    <input type="text" name="name" id="name" required="required" class="form" placeholder="Name" />
                    <input type="email" name="mail" id="mail" required="required" class="form" placeholder="Email" />
                    <input type="text" name="subject" id="subject" required="required" class="form" placeholder="Subject" />
                  </div>
                  <div class="col-xs-6 wow animated slideInRight" data-wow-delay=".5s">
                    <textarea name="message" id="message" class="form textarea"  placeholder="Message"></textarea>
                  </div>
                  <div class="relative fullwidth col-xs-12">
                    <button type="submit" id="submit" name="submit" class="form-btn semibold">Send Message</button>
                  </div>
                  <div class="clear"></div>
              </form>
              <div class="mail-message-area">
                  <div class="alert gray-bg mail-message not-visible-message">
                      <strong>Thank You !</strong> Your email has been delivered.
                  </div>
              </div>
          </div>
      </div>
    </div>
<div class="navbar-offset"></div>
</div>

